@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Fantasque Sans Mono", sans-serif;
}

main {
  width: 100vw;
}

ul, li, a, button {
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  box-sizing: border-box;
}

@keyframes slice {
  0%, 25% {
    transform: translateY(0);
  }
  30%, 55% {
    transform: translateY(-35%);
  }
  60%, 85% {
    transform: translateY(-70%);
  }
}
@keyframes fly-in {
  0% {
    transform: translateX(350%);
    opacity: 0;
  }
  50% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-350%);
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%, 100% {
    text-shadow: none;
    transform: none;
  }
}
@keyframes stack {
  0% {
    opacity: 0;
    transform: translateY(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  }
  60% {
    opacity: 0.5;
    transform: translate(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}
.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background: #0A082D;
  display: flex;
}
.header__nav {
  border: 1px solid #16446A;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.header__nav ul li, .header__nav ul a, .header__nav ul button {
  margin: 0 10px;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}
.header__nav ul li:hover, .header__nav ul a:hover, .header__nav ul button:hover {
  color: #72AFC1;
}

.menu__wrapper {
  width: 30px;
  height: 30px;
  background-color: white;
  position: absolute;
  top: 11px;
  right: 20px;
  cursor: pointer;
}
.menu__wrapper__item {
  width: 100%;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
  border-radius: 25px;
}
.menu__wrapper__color:hover {
  background-color: #72AFC1;
}

.footer {
  background-color: #0A082D;
  width: 100vw;
  position: absolute;
  bottom: 0;
  z-index: 3;
  padding: 0.5rem 0;
}

.hero {
  width: 100vw;
  height: 100vh;
}
.hero__fly {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);
  height: 50vh;
}
.hero__fly__item {
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
  color: white;
  opacity: 0;
  font-size: 1.5rem;
  transform: translateX(150%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.hero__fly__item:nth-child(1) {
  animation: fly-in 10s infinite;
  animation-delay: 1s;
}
.hero__fly__item:nth-child(2) {
  animation: fly-in 10s infinite;
  animation-delay: 4s;
}
.hero__fly__item:nth-child(3) {
  animation: fly-in 10s infinite;
  animation-delay: 1s;
}
.hero__fly__item:nth-child(4) {
  animation: fly-in 10s infinite;
  animation-delay: 3s;
}
.hero__fly__item:nth-child(5) {
  animation: fly-in 10s infinite;
  animation-delay: 5s;
}
.hero__windows {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
}
.hero__image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.hero__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.9;
}
.hero__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  position: absolute;
  top: 5rem;
  left: 2rem;
  margin: 0;
}
.hero__text__title {
  flex: 1 1 100%;
  width: 35rem;
  color: white;
  text-shadow: 0 0 10px black;
}
.hero__text__slider {
  display: inline-block;
  height: 1.5em;
  overflow: hidden;
  vertical-align: middle;
  -webkit-mask-image: linear-gradient(transparent, white, white, white, transparent);
          mask-image: linear-gradient(transparent, white, white, white, transparent);
  mask-type: luminance;
  mask-mode: alpha;
}
.hero__text__slider__words {
  display: inline-block;
  margin-top: 5px;
  height: 3em;
  padding-left: 10px;
  list-style: none;
  animation: slice 10s infinite;
}
.hero__text__slider__words__item {
  margin: 0;
  padding: 0;
  color: #95c3d1;
}

.features {
  height: 90vh;
  text-align: center;
}
.features__title {
  font-size: 2rem;
  font-weight: 700;
  color: #16446A;
}
.features__hexa {
  margin: 1em auto 16em;
  position: relative;
  bottom: 1.5rem;
}
.features__hexa__categories {
  overflow: hidden;
}
.features__hexa__categories::after {
  content: "";
  display: block;
  clear: both;
}
.features__hexa__categories li {
  position: relative;
  list-style-type: none;
  width: 32.33333333%;
  padding-bottom: 37.33641263%;
  float: left;
  overflow: hidden;
  visibility: hidden;
  margin-left: 8%;
  margin-right: 8%;
  transform: rotate(-60deg) skewY(30deg);
  cursor: pointer;
}
.features__hexa__categories li:nth-child(3n+3) {
  margin-left: 34%;
  clear: both;
  margin-top: -12.1875%; /* = w / 4 */
  margin-bottom: -12.1875%; /* = w / 4 */
}
.features__hexa__categories li:nth-child(3n+2) {
  float: right;
}
.features__hexa__categories li:nth-child(3n+3):last-child {
  margin-bottom: 0%;
}
.features__hexa__categories li:nth-child(3n+4) {
  clear: left;
  transform: translateX(0) rotate(-60deg) skewY(30deg);
}
.features__hexa__categories li * {
  position: absolute;
  visibility: visible;
  overflow: hidden;
}
.features__hexa__categories li > div {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  transform: skewY(-30deg) rotate(60deg);
  backface-visibility: hidden;
}
.features__hexa__categories img {
  left: 50%;
  top: 50%;
  width: auto;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
.features__hexa__categories__flip-container {
  width: 100%;
  height: 100%;
  -ms-perspective: 1000;
  perspective: 1000;
  transform: perspective(1000px);
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}
.features__hexa__categories__flip-container__flipper {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative !important;
}
.features__hexa__categories__flip-container__flipper:hover .features__hexa__categories__flip-container__flipper__back {
  transform: rotateY(0deg);
}
.features__hexa__categories__flip-container__flipper:hover .features__hexa__categories__flip-container__flipper__front {
  transform: rotateY(180deg);
}
.features__hexa__categories__flip-container__flipper__front, .features__hexa__categories__flip-container__flipper__back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateY(0deg);
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -o-transform: rotateY(0deg);
  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;
  -ms-transform: rotateY(0deg);
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
}
.features__hexa__categories__flip-container__flipper__front {
  transform: rotate(0deg);
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  background-color: #000;
}
.features__hexa__categories__flip-container__flipper__front p {
  position: absolute;
  color: #fff;
  text-align: center;
  font-weight: 700;
  z-index: 3;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
}
.features__hexa__categories__flip-container__flipper__back {
  transform: rotateY(-180deg);
  background: #16446A;
}
.features__hexa__categories__flip-container__flipper__back__flip-content {
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #72afc1;
  text-align: center;
  width: 100%;
  padding: 80px 3px;
}

@media (max-width: 991px) {
  #categories li .front .flip-content.title-xs {
    font-size: 29px;
  }
  #categories li .front .flip-content {
    font-size: 17px;
  }
  #categories li .flip-content.lg {
    font-size: 22px;
  }
  #categories li .flip-content.md {
    font-size: 18px;
  }
  #categories li .flip-content {
    font-size: 16px;
  }
  .initiative.style2 .initiative--title {
    font-size: 19px;
  }
  #hexagons {
    overflow: hidden;
    margin: 1em auto 0;
    padding-top: 3em;
    padding-bottom: 3em;
  }
  #categories {
    width: auto;
    padding: 0 12px;
  }
  #hexagons .el-bg.bg-11 {
    top: 996px;
  }
  #hexagons .el-bg.bg-12 {
    top: 1152px;
  }
  .page-template-our-impact .header {
    max-height: none;
  }
}
.contact {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(22, 68, 106, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  transition: all 0.8s ease-in-out;
}
.contact h2, .contact p {
  text-align: center;
  position: relative;
}
.contact p {
  position: relative;
  bottom: 2rem;
}
.contact__form {
  position: relative;
  bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 30rem;
  transition: all 0.3s ease-in-out;
}
.contact__form__input, .contact__form__textarea {
  border: none;
  border-radius: 15px;
  padding: 20px 30px;
  font-size: 1.2rem;
  background-color: rgba(22, 68, 106, 0.1);
  transition: all 0.4s ease-in-out;
}
.contact__form__input:hover, .contact__form__input:focus, .contact__form__textarea:hover, .contact__form__textarea:focus {
  background-color: rgba(22, 68, 106, 0.8);
  color: #72AFC1;
}
.contact__form__input::-moz-placeholder, .contact__form__textarea::-moz-placeholder {
  color: rgba(22, 68, 106, 0.5);
}
.contact__form__input::placeholder, .contact__form__textarea::placeholder {
  color: rgba(22, 68, 106, 0.5);
}
.contact__form__input:hover::-moz-placeholder, .contact__form__input:focus::-moz-placeholder, .contact__form__textarea:hover::-moz-placeholder, .contact__form__textarea:focus::-moz-placeholder {
  color: #72AFC1;
}
.contact__form__input:hover::placeholder, .contact__form__input:focus::placeholder, .contact__form__textarea:hover::placeholder, .contact__form__textarea:focus::placeholder {
  color: #72AFC1;
}
.contact__form__textarea {
  padding-right: 3rem;
  resize: none;
}
.contact__form button {
  border: none;
  border-radius: 15px;
  padding: 10px 40px;
  font-size: 1.2rem;
  background-color: rgba(114, 175, 193, 0.9);
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 1rem;
}
.contact__form button:hover {
  background-color: rgba(22, 68, 106, 0.8);
  color: #72AFC1;
}

.last-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 82vh;
}
.last-projects__container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: 70vh;
  margin-bottom: 1.1rem;
  position: relative;
}
.last-projects__container__card {
  border: 1px solid #ccc;
  width: 22rem;
  height: 10rem;
  display: flex;
  margin: 0.5rem;
}
.last-projects__container__card__img {
  width: 70%;
  height: 100%;
}
.last-projects__container__card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.last-projects__container__card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  border-left: 1px solid #ccc;
}
.last-projects__container__link {
  position: absolute;
  bottom: 70px;
  right: 2rem;
}

.public {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 100vh;
}
.public__anchorLink {
  display: flex;
  z-index: 4;
  position: fixed;
  position: absolute;
  bottom: 0;
  right: 0;
}
.public__anchorLink a {
  margin: 0 10px;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  color: white;
}
.public__anchorLink a:hover {
  color: #72AFC1;
}
.public__anchorLink li {
  transition: all 0.3s ease-in-out;
}
.public__anchorLink li:hover {
  transform: scale(1.1);
}

.login {
  height: 100vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.login__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 6rem;
  height: 15rem;
  background-color: rgba(22, 68, 106, 0.1);
  border-radius: 10px;
  padding: 20px;
  transition: all 0.8s ease-in-out;
  text-align: center;
}
.login__form__label {
  font-size: 1.2rem;
  color: rgba(22, 68, 106, 0.8);
  padding-right: 15rem;
  display: none;
}
.login__form__input {
  border: none;
  border-radius: 15px;
  padding: 20px 30px;
  font-size: 1.2rem;
  text-align: center;
  background-color: rgba(22, 68, 106, 0.1);
  transition: all 0.4s ease-in-out;
}
.login__form__input:hover, .login__form__input:focus {
  background-color: rgba(22, 68, 106, 0.8);
  color: #72AFC1;
}
.login__form__input::-moz-placeholder {
  color: rgba(22, 68, 106, 0.5);
}
.login__form__input::placeholder {
  color: rgba(22, 68, 106, 0.5);
}
.login__form__input:hover::-moz-placeholder, .login__form__input:focus::-moz-placeholder {
  color: #72AFC1;
}
.login__form__input:hover::placeholder, .login__form__input:focus::placeholder {
  color: #72AFC1;
}
.login__form__button {
  border-radius: 15px;
  padding: 20px 30px;
  margin-top: 1rem;
  font-size: 1.4rem;
  background-color: rgba(22, 68, 106, 0.1);
  transition: all 0.4s ease-in-out;
}
.login__form__button:hover, .login__form__button:focus {
  background-color: rgba(22, 68, 106, 0.8);
  color: #72AFC1;
}

.projects {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.projects__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 90vw;
  overflow: hidden;
  overflow-y: scroll;
  transition: all 0.8s ease-in-out;
  text-align: center;
}
.projects__list::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(114, 175, 193, 0.6);
  border-radius: 10px;
}
.projects__list__item {
  width: 20rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(22, 68, 106, 0.1);
  position: relative;
}
.projects__list__item__images {
  width: 20rem;
  height: 30rem;
  position: absolute;
  border-radius: 10px;
  z-index: -1;
  opacity: 0.3;
}
.projects__list__item__title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #16446A;
  position: absolute;
  top: 1rem;
  left: 2rem;
}
.projects__list__item__info {
  font-size: 1.2rem;
  font-weight: 400;
  color: #16446A;
  position: absolute;
  bottom: 1rem;
  left: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.projects__list__item__button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 10rem;
  position: absolute;
  bottom: 1.3rem;
  right: 1rem;
}
.projects__list__item__button button {
  border: none;
  background-color: #72AFC1;
  color: #16446A;
  font-weight: 600;
  border-radius: 10px;
  transition: all 0.8s ease-in-out;
}
.projects__list__item__button button:hover {
  background-color: #468ca0;
  transform: scale3d(1.1, 1.1, 1.1);
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 5rem;
}

.error404 {
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}
.error404__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  margin-top: 5rem;
}
.error404__container__image {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 80%;
  left: 40%;
  animation: fade-in 1s ease-in-out forwards;
  animation-delay: calc(var(--index) * 0.1s);
}
.error404__container__stacks {
  display: grid;
  grid-template-columns: 1fr;
}
.error404__container__stacks span {
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 4rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  -webkit-clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
          clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), glitch 1s ease infinite 1s alternate-reverse;
}
.error404__container__stacks span:nth-child(odd) {
  --glitch-translate:8px;
}
.error404__container__stacks span:nth-child(even) {
  --glitch-translate:-8px;
}
.error404__link {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 30%;
}
.error404__link:hover {
  background-color: black;
  color: white;
}/*# sourceMappingURL=main.css.map */