.hero{
    width: 100vw;
    height: 100vh;


    &__fly{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -65%);
        height: 50vh;

        &__item{
            width: max-content;
            display: inline-block;
           color : white;
           opacity: 0;
            font-size: 1.5rem;
            transform:translateX(150%);
            transition: opacity .3s ease-in-out, transform .3s ease-in-out;


            &:nth-child(1){
                animation: fly-in 10s infinite;
                animation-delay: 1s;
            }

            &:nth-child(2){
                animation: fly-in 10s infinite;
                animation-delay: 4s;
            }

            &:nth-child(3){
                animation: fly-in 10s infinite;
                animation-delay: 1s;
            }

            &:nth-child(4){
                animation: fly-in 10s infinite;
                animation-delay: 3s;
            }

            &:nth-child(5){
                animation: fly-in 10s infinite;
                animation-delay: 5s;
            }


        }
    }
  
    &__windows{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: rgba(0,0,0,.5) ;
    }

    &__image{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.9;
        }
    }
  

    &__text{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: .8rem;
        position: absolute;
        top: 5rem;
        left: 2rem;
        // width: 100vw;
        // height: 100vh;
        margin: 0;

          &__title{
            flex: 1 1 100%;
            width: 35rem;
            color: white;
            text-shadow: 0 0 10px black;
      
        }

            &__slider{
                display :inline-block;
                height: 1.5em;
                overflow: hidden;
                vertical-align: middle;
                mask-image: linear-gradient(transparent, white, white,white, transparent);
                mask-type: luminance;
                mask-mode: alpha;

                &__words{
                    display: inline-block;
                    // margin: 0;
                    margin-top: 5px;
                    height: 3em;
                
                    padding-left: 10px;
                    list-style: none;
                    animation: slice 10s infinite;

                    &__item{
                        margin: 0;
                        padding: 0;
                        color: lighten($color: $secondary-color, $amount: 10%);
                    }
                }
            }
        

    }
}